.contact {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .contact p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9b9999;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 103.5%;
  }
  
  .contact-form button:hover {
    background-color: #f3c009ec;
  }
  
  .contact-info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }

  .response-message {
    margin: 10px 0;
    color: green;
  }