.checkout-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
  
  h2 {
    text-align: center;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-form label {
    display: block;
    margin-top: 10px;
  }
  
  .checkout-form input,
  .checkout-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* label {
    margin-bottom: 10px;
    font-weight: bold;
  } */
/*   
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  .payment-options {
    margin: 10px 0;
  }
  
  .place-order-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .place-order-btn:hover {
    background-color: #218838;
  }
  
  .order-confirmation {
    text-align: center;
    padding: 20px;
  }
  
  .blue-tick {
    font-size: 40px;
    color: blue;
    display: block;
    margin-bottom: 10px;
  }
  

  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  